# Virtual environment
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.so

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/trained/*
!models/trained/.gitkeep

#Jupyter
.ipynb_checkpoints