# Virtual environment
venv/
env/
# Environment variables
.env
.venv
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Data
!data/raw/.gitkeep
!data/processed/.gitkeep
data/raw/yelp_dataset/yelp_academic_dataset_review.json
!data/raw/yelp_dataset/yelp_academic_dataset_business.json.gz




# Models
models/trained/*
!models/trained/.gitkeep

#Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp

# Distribution
build/
dist/
*.egg-info/